

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Hide the scroll bar in Webkit browsers(Chrome safari wedge) */
/* ::-webkit-scrollbar { */
    /* display: none;         hide the scrollbar */
/* } */

/* hide scrollbar for all elements */
/* * {
    scrollbar-width: none;
    scrollbar-gutter: stable;
} */




